@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}
a:visited{
    color: #767676;
}
.visually_hidden{
    overflow: hidden;
    border: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
}
.wrap_main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.wrap_modal_main{
    width: 520px;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}
.wrap_header{
    padding: 20px 0px;
}
.wrap_header .txt_header{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.wrap_header .div_close{
    position: absolute;
    top: 22px;
    right: 24px;
}
.wrap_header .div_close>img{
    width: 18px;
    height: 18px;
}
.wrap_modal_content{
    padding: 26px 24px 25px;
}
hr{
    margin: 0;
    padding: 0;
}
.wrap_modal_content .txt_content_head{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}
.wrap_modal_content>form input{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 100%;
    padding: 15px 0px 15px 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type=checkbox]+label{
    background: url(../images/icon_check_empty.png) no-repeat;
    cursor: pointer;
    color: gray;
    margin-top: 7px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked + label{
    background: url(../images/icon_check.png) no-repeat;
    font-weight: bold;
}
input[type=checkbox]:disabled + label{
    background: url(../images/icon_check_empty.png) no-repeat;
}
.wrap_modal_content .button_modal_login{
    width: 100%;
    margin: 20px 0px;
    padding: 14px 0px;
    background-color: #2f80ed;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 5px;
}

.wrap_modal_content .wrap_member{
    font-size: 14px;
    color: #767676;
    text-align: center;
}
.wrap_member>span{
    margin: 0px 12px;
}
.line_or{
    display: flex; 
    gap: 12px;
    align-items: center;
    margin: 30px 0 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.line_or::before,
.line_or::after {
    content: ' '; 
    flex-grow: 1;
    height: 1px;
    background-color: currentColor;
    opacity: 0.4;
}
.wrap_social_login{
    display: flex;
    flex-direction: column;
}
.wrap_social_login .btn{
    padding: 11px 0px 11px 12px;
    color: gray;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 28px;
    text-align: center;
}
/* div 로 감싸고 이미지스프라이트 vs img 태그 로 개별 이미지 */
.wrap_social_login .div_logo{
    float: left;
    background-image: url(../images/css_sprites.png);
    width: 28px;
    height: 28px;
}
.img_google{
    background-position: -10px -7px;
}
.img_fb{
    background-position: -90px -7px;
}
.img_naver{
    background-position: -9px -49px;
}
.img_kakao{
    background-position: -50px -7px;
}
a.btn1{
    border: gray solid 1px;
    border-radius: 4px;
}
a.btn2{
    border: #2d9cdb solid 1px;
    border-radius: 4px;
}
a.btn3{
    border: #00bf18 solid 1px;
    border-radius: 4px;
}
a.btn4{
    border: #f2c94c solid 1px;
    border-radius: 4px;
}
/* outline vs box-shaow 뭐가 더 나은지 ? */
a.btn1:hover{
    outline: 1px solid gray;
    outline-offset: -2px;
    border-radius: 4px;
}
a.btn2:hover{
    outline: 1px solid #2d9cdb;
    outline-offset: -2px;
    border-radius: 4px;
}
a.btn3:hover{
    outline: 1px solid #00bf18;
    outline-offset: -2px;
    border-radius: 4px;
}
a.btn4:hover{
    outline: 1px solid #f2c94c;
    outline-offset: -2px;
    border-radius: 4px;
}
