@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: 400;
}
button{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.module-selectBox *{
    box-sizing: border-box;
}
.module-selectBox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.label-select{
    width: 200px;
    padding: 12px 0px 12px 14px;
    text-align: left;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}
.label-select img{
    position: absolute;
    top: 17px;
    right: 15px;
}
.wrap-list{
    position: absolute;
    width: 200px;
    margin-top: 9px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.wrap-list li{
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    padding: 12px 0px 12px 18px;
}
.clicked{
    display: none;
}
.wrap-list .list-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
li:hover{
    width: 184px;
    margin: 5px 8px;
    padding: 7px 0px 7px 10px;
    background-color: #f8e4ff;
    border-radius: 8px;
}